
*{
	box-sizing: border-box;
	
}
body{
	background-color:#f8f8f8;
	
}
#lib{
		font-weight:600;
	justify-content: center;
	align-items: center;
	}
.book-library{
	background-color:#ffffff;
	
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.book{
}

.book>h2{
	color: #777777;
}
.book>button{
	background-color: #2ecc71;
	width: 90%;
}
